<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-title>
        <h6>{{ title }}</h6>
    </ion-title>
    <ion-buttons left>
      <button ion-button (click)="backLista()">
          <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>     
    <ion-buttons end>
        <button ion-button>
            <ion-icon name="md-settings"></ion-icon>
        </button>
      </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding class="master">
  <form
      [formGroup]="form"
      (ngSubmit)="saveTeste(form.value)">

      <ion-item>
          <ion-label stacked>Anatomia</ion-label>
          <ion-select formControlName="anatomia_id" [(ngModel)]="teste.anatomia_id" placeholder="Selecione">
              <ion-option *ngFor="let anatomia of anatomias" value="{{ anatomia.id }}">{{ anatomia.nome }}</ion-option>
          </ion-select>
        </ion-item>

   	  <ion-item>
         <ion-label stacked>Nome teste:</ion-label>
         <ion-input
            type="text"
            formControlName="nome"
            [(ngModel)]="teste.nome"></ion-input>
   	  </ion-item>

      <ion-item>
         <ion-label stacked>Procedimento:</ion-label>
         <ion-textarea
            formControlName="procedimento"
            [(ngModel)]="teste.procedimento"></ion-textarea>
       </ion-item>
       
       <ion-item>
        <ion-label stacked>Resultado:</ion-label>
        <ion-textarea
           formControlName="resultado"
           [(ngModel)]="teste.resultado"></ion-textarea>
      </ion-item>

      <ion-item>
         <ion-label stacked>Ativo</ion-label>
         <ion-checkbox
            formControlName="ativo"
            [(ngModel)]="teste.ativo">
          </ion-checkbox>
   	  </ion-item>

   	  <ion-item>
         <button
           ion-button
           block
           color="primary"
           text-center
           padding-top
           padding-bottom
           [disabled]="!form.valid">
            <div *ngIf="!isEditable">
               Adicionar novo teste
            </div>

            <div *ngIf="isEditable">
               Alterar teste
            </div>
            </button>
   	  </ion-item>

   </form>
</ion-content>

<ion-footer>
    <ion-toolbar>    
      <ion-item>
        &#169; 2018 - Fisioterapia Aplicada | v 1.1.0 
      </ion-item>
    </ion-toolbar>
</ion-footer>
